@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

body{
    background-color:#499557;
    color: white;
}

.container {
    display: flex;
    column-gap: 15px;
    width: 100%;
}

text{
    width: 40px;
    font-weight: bold;
}

textarea{
    border: solid;
    height: 200px ;
    width: 200%;
    resize: none;
}

.form-control{
    border: solid;
    border-color: gray;
}

.btn-primary{
    margin-top: 10px;
    width: fit-content;
    padding-top: 60%;
}

.column-c1 {
    width: 50%;
    height: 200px;
    float: left;
    border-right: #ffffff;
    padding: 2px 2px 8px;
    font-size: 16px;
}

.column-c2 {
    width: 50%;
    float: right;
    column-gap: normal;
    padding: 2px 2px 8px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_content{
    padding: 20px 200px;
    display: block;
    width: 100%;
    align-items: center;
    text-align: center;
}

.about {
    font-size: 30px;
    color: #fbfbfb;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
}

.cont p {
    font-size: 20px;
    margin-top: 12px;
    color: #fbfbfb;
    text-align: center;
}

.spell-check{
    display: block;
    padding: 20px 200px;
    align-items: center;
    text-align: center;
}

.spell-abt{
    display: block;
    margin-top: 15px;
    margin-right: 20%;
    text-align: justify;
}

#scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    z-index: 999;
}

#scroll-to-top a {
    text-decoration: none;
    color: #fff;
}

#scroll-to-top:hover {
    background-color: #0056b3;
}

h2{
    border:  double;
    border-color: black;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    height: 60px;
    display: grid;
    justify-content: center;
    place-items:center ;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 40px;
    background-color: #201e1e;
}

@keyframes wave {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Apply animation to the h1 element */
h2.text-center {
    margin-top: 50px;
    animation: wave 4s infinite;
}

