{% extends 'base.html' %}

{% load static %}

{% block title %}
  About us
{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" href="../static/about.css" />
{% endblock %}

{% block content %}
  <div class="about">
    <section>
      <h2>About Us</h2>
      <p>
        In a world where effective communication is key,We saw the need for a solution that enables people,students, professionals, and writers to produce high-quality written content. The solution is our SpellBot. SpellBot is a complete tool forpolishing and enhancing your work,going beyond simple spell checking. SpellBot is your partner in achieving language precision and clarity, whether you're a student striving for academic success, a professional seeking refined business communication, or a writer committed to producing fascinating content.
        <br />
        <br />
        We are dedicated not only to fixing mistakes but also to fostering a culture of efficient communication.Correctify helps you make your writing more accurate while also improving its style, so that your message reaches its target audience effectively.We hope to provide users with a tool that not only finds problems but also suggests appropriate replacements, improving written communication's readability and coherence as a whole. This project aims to be an essential tool for improving written content across various platforms and businesses by supporting diverse languages and writing styles.
      </p>
    </section>
    <section class="mission">
      <h2>Our Mission</h2>
      <p>
        At SpellBot, we think that excellent writing is essential to successful communication. By offering a cutting-edge spelling checker, our objective is to assist individuals, students, professionals, and corporations in producing flawless writing. Our goal is for your communications, documents, and reports to have a lasting impact. By identifying and offering fixes for misspelled words, SpellBot improves the accuracy and correctness of written information while also enhancing the text's overall quality and readability.
        <br /> <br />
        Our goal is to create processes or algorithms that can effectively identify and correct spelling errors across a range of languages, assisting people in producing written communication that is error-free.
      </p>
    </section>
    <section class="team">
      <h2>Our Team</h2>
      <p>We are a passionate and dedicated team of linguists, developers, and language enthusiasts, committed to ensuring that every written word is perfect. Meet the brains behind SpellBot:</p>
      <section class="member">
        <div class="column">
          <img src="../static/Rohan.png" alt="Rohan" style="width:150px;height:150px;">
          <h1>Rohan Satyal</h1>
          <h2>Database Manager</h2>
          <h3>Dhulikhel</h3>
        </div>

        <div class="column">
          <img src="../static/Prashant.png" alt="Prashant" style="width:150px;height:150px;">
          <h1>Prasant Timalsina</h1>
          <h2>Front-end Developer</h2>
          <h3>Banepa</h3>
        </div>

        <div class="column">
          <img src="../static/Sabal.png" alt="Sabal" style="width:150px;height:150px;">
          <h1>Sabal Acharya</h1>
          <h2>Back-end Developer</h2>
          <h3>Kathmandu</h3>
        </div>
      </section>
    </section>
  </div>
{% endblock %}