<footer class="footer">
    <div class="column-1">
        <div class="logo">
            <img src="../static/spellbot.png" alt="LOGO" >	
        </div>
        <br>
    </div>
    
    <div class="column-2">
        <h3>DESCRIPTION</h3>
        <p>Our innovative technology empowers users to produce high-quality written content by ensuring accuracy and clarity.  Spellbot is designed to elevate the quality of written expression across diverse platforms.</p>
    </div>

    <div class="column-3">
        <h3>CONTACT US</h3>

        <p>Kathamandu, 44600</p>
        <p><a href="mailto:info@gmail.com">info@gmail.com</a></p>
        <p>+977 01442100</p>
        <p>If you have any feedback<br>
            <a href="contactus">click here</a>
        </p>
    </div>

    <div class="column-4">
        <h3>FOLLOW  US</h3>
        <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
</footer>



